{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<div class="container my-5 p-5 col-lg-8 justify-content-center">
    <h1>À propos</h1>
    <p>Bienvenue sur l'application de la Criée de la Cornouaille. Cette plateforme permet la gestion des ventes, lots, acheteurs, bateaux, et plus encore.</p>
</div>
{% endblock %}
