{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<div class="container my-5 p-5 col-lg-6 justify-content-center">
    <h1>Créer un utilisateur</h1>
    <p>Formulaire de création d'utilisateur à implémenter.</p>
</div>
{% endblock %}
