{% extends 'base.html.twig' %}

{% block title %}Gestion des acheteurs{% endblock %}

{% block body %}
    <div class="container my-5 p-5 col-lg-5 justify-content-center">
        <h3>Gestion des acheteurs</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/admin/acheteurs/ajouter">Ajouter des acheteurs</a></li>
            <li class="list-group-item">Modifier des acheteurs</li>
            <li class="list-group-item">Supprimer des acheteurs</li>
        </ul>
    </div>
{% endblock %}
