{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Vente</h1>
                {% if vente is not null %}
                    {% if venteOuverte %}
                        <p class="lead">La vente est ouverte !</p>
                        <a class="btn btn-lg btn-light" href="/acheteur/enchere">Accéder à la vente du jour</a>
                    {% else %}
                        <p class="lead">La prochaine vente ouvrira le {{ vente.dateVente|date('d-m-Y') }} à {{ vente.heureDebut|date('H:i') }}.</p>
                        <p class="lead">Nous sommes le {{ dateActuelle|date('d-m-Y H:i') }}.</p>
                    {% endif %}
                {% else %}
                    <p class="lead">Pas de prochaine vente prévue.</p>
                {% endif %}
            </div>
        </header>
        <!-- About section-->
        <section id="parcourir">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        {% if vente is not null %}
                            <h1>Vente du {{ vente.dateVente|date('d-m-Y') }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
