{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Criée de la Cornouaille</h1>
                <p class="lead">Application Criée de la Cornouaille</p>
                <a class="btn btn-lg btn-light" href="#parcourir">Parcourez le catalogue</a>
            </div>
        </header>
        <!-- About section-->
        <section id="parcourir">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </section>

{% endblock %}
