{% extends 'base.html.twig' %}

{% block title %}Gestion des lots{% endblock %}

{% block body %}
    <div class="container my-5 p-5 col-lg-5 justify-content-center">
        <h3>Gestion des lots</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="/admin/lots/ajouter">Ajouter des lots</a></li>
            <li class="list-group-item">Modifier des lots</li>
            <li class="list-group-item">Supprimer des lots</li>
        </ul>
    </div>
{% endblock %}
